/* src/components/Footer.css */
.footer {
    background-color: var(--primary-color); /* Fondo azul oscuro */
    color: #fff;
    padding: 50px 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif; /* Fuente más moderna y estilizada */
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .footer-logo-img {
    width: 150px; /* Ajusta el tamaño del logo */
    height: auto;
    margin-bottom: 30px;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease;
  }
  
  .footer-logo-img:hover {
    transform: scale(1.1); /* Efecto de hover para el logo */
    opacity: 0.8; /* Efecto de desvanecimiento */
  }
  
  .footer-socials {
    display: flex;
    justify-content: center;
    gap: 35px;
    margin-bottom: 20px;
    transition: all 0.3s ease;
  }
  
  .footer-socials a {
    color: #fff;
    font-size: 30px;
    transition: transform 0.3s ease, color 0.3s ease;
  }
  
  .footer-socials a:hover {
    color: var(--secondary-color); /* Amarillo para el hover */
    transform: scale(1.2); /* Aumenta el tamaño al hacer hover */
  }
  
  .footer-copyright {
    font-size: 16px;
    font-weight: 300;
    margin-top: 20px;
    color: #f5f5f5;
    letter-spacing: 1px; /* Espaciado entre letras */
  }
  
  @media (min-width: 768px) {
    .footer-logo-img {
      width: 180px; /* Ajusta el tamaño del logo en pantallas grandes */
    }
  
    .footer-socials {
      gap: 40px; /* Espaciado entre los íconos */
    }
  }
  
  @media (max-width: 600px) {
    .footer-logo-img {
      width: 120px; /* Logo más pequeño en móviles */
    }
  
    .footer-socials {
      flex-wrap: wrap; /* Los íconos se apilan en pantallas pequeñas */
      justify-content: center;
      gap: 20px;
    }
  
    .footer-copyright {
      font-size: 14px; /* Fuente más pequeña en pantallas pequeñas */
    }
  }
  