/* Personalización de fondo */
body {
  background-color: #f4f4f4;
  font-family: 'Arial', sans-serif;
  margin: 0;
  font-size: 1rem; /* Ajuste global */
}

/* Títulos */
h1 {
  color: #333;
  font-size: 2.5rem;
  text-align: center;
  margin-top: 20px;
}

/* Estilo de botones personalizados */
button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
  cursor: pointer;
}

/* Añadir márgenes personalizados */
.mt-5 {
  margin-top: 3rem;
}
